- breadcrumb_title _("Projects")
- page_title _("Projects")

.card.gl-mt-3
  .card-header
    %strong= @group.name
    projects:
    - if can? current_user, :admin_group, @group
      .controls
        = link_to new_project_path(namespace_id: @group.id), class: "btn gl-button btn-sm btn-confirm" do
          New project
  %ul.projects-list.content-list.group-settings-projects
    - @projects.each do |project|
      %li.project-row{ class: ('no-description' if project.description.blank?) }
        .controls
          = link_to _('Members'), project_project_members_path(project), id: "edit_#{dom_id(project)}", class: "btn gl-button"
          = link_to _('Edit'), edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn gl-button"
          = render 'delete_project_button', project: project

        .stats
          = gl_badge_tag storage_counter(project.statistics&.storage_size)
          = render 'project_badges', project: project

        .title
          = link_to(project_path(project)) do
            .dash-project-avatar
              .avatar-container.rect-avatar.s40
                = project_icon(project, alt: '', class: 'avatar project-avatar s40', width: 40, height: 40)
            %span.project-full-name
              %span.namespace-name
                - if project.namespace
                  = project.namespace.human_name
                  \/
              %span.project-name
                = project.name
              %span{ class: visibility_level_color(project.visibility_level) }
                = visibility_level_icon(project.visibility_level)

        - if project.description.present?
          .description
            = markdown_field(project, :description)
    - if @projects.blank?
      .nothing-here-block This group has no projects yet

= paginate @projects, theme: "gitlab"
